
{% extends 'base.html' %}
{% block body %}

<h1>SESSION HERE:</h1>
{{ session }}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon, quantity in melons_in_cart.items() %}    
        <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ quantity }}</td>
            <td>${{ melon.price }}</td>
            <td>{{ melon.cost_by_item }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ total_cost }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
